body{
    font-family: sans-serif;
    background: linear-gradient(to right, #8e2ded,#4a00e0);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container{
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
    width: 350px;
    color: #333;
    transition: transform 0.3s ease-in-out;
}

.container:hover{
    transform: scale(1.05);
}

h1{
    font-size: 24px;
    margin-bottom: 20px;
    color: #4a00e0;
}

label{
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

input{
    padding: 10px;
    margin-bottom: 20px;
    width: 93%;
    border-radius: 5px;
    border: 2px solid #4a00e0;
}

button{
    padding: 10px 20px;
    background-color: #4a00e0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #8e2ded;
}

#result{
    margin-top: 20px;
    text-align: left;
}

.result-item{
    font-size: 18px;
    margin-bottom: 10px;
}

.result-item span{
    font-weight: bold;
    color: #4a00e0;
}